<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="author" content="Abubakar Ahmed Yusuf">
    <title>Forside</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</html>
<body>
    {%if status == 0%}
    <h1>Registrer bruker</h1>
    <div class="container">
        <form method="POST" action="./index.php">
            <input type="email" name="e-post" placeholder="Skriv e-post" required>
            <input type="text" name="passord" placeholder="Skriv passord" pattern=".{8,}" required title="Minst 8 tegn">
            <input type="text" name="fornavn" placeholder="Skriv fornavn" required>
            <input type="text" name="etternavn" placeholder="Skriv etternavn" required>
            <input type="submit" value="Registrer" name="Registrer">
        </form>
    </div>
    {%endif%}
    {%if status == 1%}
    <h1>{{response}}</h1>
    {%endif%}
</body>